@page "/"
@inject ISearchProductUseCase SearchProductUseCase

<h3>Search Products Component</h3>
<br />

<SearchBarComponent OnSearch="HandleSearch"></SearchBarComponent>

<br />


@if (products != null && products.Count() > 0)
{
    <div class="row">
        @foreach (var product in products)
        {
            <ProductCardComponent Product="product"></ProductCardComponent>
        }
    </div>
}
else
{
    <tr>
        <td colspan="3">Cannot find products</td>
    </tr>
}


@code {


    private IEnumerable<Product> products;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        products = SearchProductUseCase.Execute();
    }

    private void HandleSearch(string filter)
    {
        products = SearchProductUseCase.Execute(filter);
    }
}
